[MASTER]

# Python code to execute, usually for sys.path manipulation
init-hook=
    sys.path.append(os.getcwd());
    from pylint_ignore import PylintIgnorePaths;
    PylintIgnorePaths('silksnake/core/remote/proto')

[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable=too-many-ancestors

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=130